node_modules
testdata/*
!testdata/*.br

# Output
dist
packages/workbench/.svelte-kit
packages/workbench/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
